* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 90vh;
  border: 1px solid black;
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.comment-display-container {
  overflow: auto;
  width: 100%;
  height: 80%;
  border: 2px solid blue;
  padding: 5px;
}

/*CSS for a single comment container*/
.comment-container {
  border: 2px solid green;
  padding: 5px;
  /*    position:relative; */
}
.comment-box {
  margin: 5px 0px;
  padding: 10px;
  /*   height: 150px;  */
  width: 100%;
  border: 3px solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score-box {
  /*   border: 1px solid black; */
  /*   height: 100%; */
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-btn {
  padding: 5px;
  width: 80%;
  border: none;
  cursor: pointer;
}
.score-text-box {
  width: 80%;
  padding: 5px 0px;
  text-align: center;
}

.comment-main-box {
  /*   border: 1px solid black; */
  width: 90%;
  /*   height: 100%; */
  display: flex;
  flex-direction: column;
}

/*CSS for commentator-info section (top section of comment)*/
.commentator-info-box {
  /*   border: 1px solid yellow; */
  width: 100%;
  height: 30%; /*temporary*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.commentator-avatar-box {
  width: 8%; /*temporary*/
}
.commentator-avatar-icon {
  width: 100%; /*temporary*/
  height: auto;
}
.commentator-name {
  padding: 5px;
  font-size: 13px;
}
.reply-icon-box {
  /*   border:1px solid red; */
  /*   padding:5px; */
  position: absolute;
  /*   left: auto; */
  right: 0%;
}
.reply-icon {
  width: 100%;
  height: auto;
}
.comment-text-box {
  height: 70%; /*temporary*/
  /*   border: 1px solid blue; */
  text-align: justify;
  padding: 5px;
  font-size: 13px;
}

.reply-box {
  position: relative;
  left: 5%;
  border: 2px solid gray;
  width: 95%;
  padding: 5px;
}

.reply-display-container{
/*   position:absolute; */
  width:100%;
/*   height:100px; */
  border:2px solid cyan;
  margin-bottom:5px;
}

/*CSS for Add-Comment container*/
.add-comment-container {
  width: 100%;
  border: 1px solid red;
  height: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
.reply-comment-container {
  border: 2px solid orangered;
/*   position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  /* height:100px; */
  /*   left:5px; */
  right: 0px;
  padding:5px;
}
#avatar-img-container {
  width: 8%;
  /*   height: 50%; */
  /*   border: 1px solid black; */
}
#avatar-img {
  width: 100%;
  height: auto;
}
.comment {
  padding: 7px;
  width: 75%;
  /*   height:100%; */
  text-align: left;
}
#send-btn {
  height: 40%;
  padding: 5px 10px;
}
#reply-btn {
  font-size: 10px;
  padding: 5px;
  height: 40%;
}

.hide {
  display: none;
}
