* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  height:100vh;
  font-family:sans-serif;
  line-height:18px;
  text-align: justify;
  background-color:#f0f0ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 95vh;
/*   border-top: 1px solid black; */
  border-radius:7px;
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.comment-display-container {
  overflow: auto;
  width: 100%;
  height: 80%;
/*   border: 2px solid blue; */
  padding: 5px;
}

/*CSS for a single comment container*/
.comment-container {
/*   border: 2px solid green; */
  padding: 5px;
  /*    position:relative; */
}
.comment-box {
  background-color:white;
  margin: 5px 0px;
  padding: 10px;
  /*   height: 150px;  */
  width: 100%;
/*   border: 2px solid orange; */
  border-radius:7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score-box {
  /*   border: 1px solid black; */
  /*   height: 100%; */
  min-width:30px;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-btn {
  background-color:#f0f0ff;
  border-radius:5px;
  padding: 5px;
  width: 85%;
  border: none;
  cursor: pointer;
}
.plus-btn{
  border-radius: 5px 5px 0px 0px;
}
.minus-btn{
  border-radius: 0px 0px 5px 5px;
}
.score-text-box {
  background-color:white;
  width: 85%;
  padding: 5px 0px;
  text-align: center;
  font-size:14px;
}

.comment-main-box {
/*     border: 1px solid black; */
  width: 90%;
  /*   height: 100%; */
  display: flex;
  flex-direction: column;
}

/*CSS for commentator-info section (top section of comment)*/
.commentator-info-box {
/*     border: 1px solid yellow; */
  width: 100%;
  height: 30%; /*temporary*/
  display: flex;
  align-items: center;
  justify-content: space;
  position: relative;
}

.commentator-avatar-box {
  display:flex;
  width: 8%; /*temporary*/
}
.commentator-avatar-icon {
  
  width: 100%; /*temporary*/
  height: auto;
}
.commentator-name {
  margin:0 5px;
  background-color:#f0f0ff;
  border-radius:5px;
  color:black;
  font-weight:bold;
  padding: 3px 7px;
  font-size: 12px;
}
.user-label{
  padding:0px 5px;
  border-radius:3px;
  font-size:8px;
  font-weight:bold;
  background-color:#5357b6;
  color:white;
}
.reply-icon-box {
/*     border:1px solid red; */
  /*   padding:5px; */
  position: absolute;
  /*   left: auto; */
  right: 0%;
  cursor:pointer;
}
.reply-icon {
  width: 100%;
  height: auto;
}
.comment-text-box {
  height: 70%; /*temporary*/
/*     border: 1px solid blue; */
  text-align: justify;
  padding: 5px;
  font-size: 12px;
}

.read-reply-box{
/*   border:1px solid red; */
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
.read-reply-btn{
  padding: 5px;
  background-color:#5357b6;
/*   background-color:#f0f0ff; */
  color:white;
  font-size:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.reply-box {
  position: relative;
  left: 3%;
  
/*   border:2px solid black; */
/*   border-radius:5px; */
  width: 98%;/*testing basis*/
/*   padding: 5px 5px 5px 20px; */
/*   padding-left:20px;
  padding-right:0; */
}

.reply-display-container {
  /*   position:absolute; */
  width: 100%;
  /*   height:100px; */
/*   border: 2px solid cyan; */
  border-left: 1.5px solid gray;
  padding-left: 20px;
  padding-right:5px;
  margin-bottom: 5px;
}

/*CSS for Add-Comment container*/
.add-comment-container {
  width: 100%;
/*   border: 2px solid red;*/
  background-color:white;
  border-radius:7px;
  height: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
.reply-comment-container {
  margin-top:10px;
/*   border: 2px solid orangered; */
  background-color:white;
  border-radius:7px;
  /*   position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  /* height:100px; */
  /*   left:5px; */
  right: 0px;
  padding: 10px;
}
#avatar-img-container {
  width: 10%;
  /*   height: 50%; */
  /*   border: 1px solid black; */
}
#avatar-img {
  width: 100%;
  height: auto;
}
.comment {
  padding: 7px;
  width: 70%;
  /*   height:100%; */
  text-align: left;
}
#send-btn {
  width:15%;
  background-color:#5357b6;
  color:white;
  border-radius:5px;
  border:none;
/*   font-size:12px; */
  font-size: 0.7rem;
  height: 40%;
/*   padding: 7px 10px; */
  cursor:pointer;
}
#reply-btn {
  background-color:#5357b6;
  color:white;
  border-radius:3px;
  border:none;
  font-size: 9px;
  padding: 8px;
  height: 40%;
  cursor:pointer;
}

.hide {
  display: none;
}

textarea{
  border-radius:7px;
  border:0.5px solid gray ;
/*   border:none; */
}


/*scrollbar css*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
/*   box-shadow: inset 0 0 5px grey;  */
/*   border:1px solid black; */
  background-color:white;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5357b6; 
  border-radius: 10px;
}


/*CSS for RWD*/
@media (max-width:550px){
  .container{
    width:96%;
  }
}